* {
    font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
    color: #212121;
}

html,body,#main {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* consistly same */
#main {
    display: flex;
}

#mainDiv,#Profile,.musicContainer,#Categorized {
    display: inline-flex;
}

#Categorized, #mainDiv {
    float: right;
}

#ProfileImage, #SongBoxContainer {
    display: inline-block;
}

#mainDiv, #Profile, .musicContainer {
    flex-direction: column;
}

/* Consist end */

#mainDiv {
    width: 71%;
    height: 96%;
    padding: 2%;
}

#Profile {
    width: 25%;
    height: 100%;
    border: 1px solid rgb(197, 128, 128);
    text-align: center;
}

#ProfileImage {
    width: 90%;
    margin: 40% auto 0 auto;
    border-radius: 8%;
}

#SongBox {
    display: flex;
    width: 100%;
    height: 90%;
    border: 1px solid black;
}

#SongBoxContainer {
    margin: auto;
    border: 1px solid black;
    width: 95%;
    height: 95%;
    overflow: scroll;
    padding: 1%;

}

/* Music Container Stuff */

.musicContainer {
    width: 15em;
    height: 20em;
    border: 2px solid lightgrey;
    border-radius: 5%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
}

.musicContainer > img {
    width: 12.5em;
    height: 12.5em;
    margin: 5% auto 0 auto;
    border-radius: 5%;
}

.musicContainer > h2 {
    font-size: 100%;
    margin: 0;
}

.musicContainer > h3 {
    font-size: 80%;
    margin-top: 2%;
    font-style: italic;
}

.musicContainer > h4 {
    font-size: 60%;
    font-style: italic;
    margin: 2% 0 0 0; 
}

.musicContainer > h6 {
    display: none; 
}

#AudioProfile {
    width: 100%;
}

#Categorized > * {
    display: inline-block;
    font-size: 100%;
    height: 100%;
}

#Categorized {  
    display: flex;
    width: 100%;
    height: 6%;
    padding: 2% 0%;
    justify-content: space-around; 
}
/* Music Container End */